body {
  margin:0;
	padding:0;
	border:0;
  background-color: #afd5aa;
}

h1{
  font-family: "Kings", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

p{
    font-family: monospace, Arial, Helvetica, sans-serif;
    text-align: justify;
}
span{
  font-weight: bold;
  font-style: oblique;
}

.tamanho1{
    font-size: 25px;
}
.tamanho2{
    font-size: 20px;
}
.tamanho3{
    font-size: 15px;
}
.obs{
    font-size: 0.7em;
    text-align: center;
}
.config-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}
.topo {
    background-color: #386641;
    height: 40px;
    padding: 5px 20px;
}
.topo li{
  display: inline-block;
  margin: 0px 20px;
}
.imagem{
    margin: 5px;
}

.main{
  padding: 30px 50px;
}
