h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p{
    font-family: monospace, Arial, Helvetica, sans-serif;
    text-align: justify;
}
body{
    background-color: #afd5aa;
}